{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'eventhost/main.css'%}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a34dbf6751.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@500&family=Oswald:wght@700&display=swap" rel="stylesheet">

</head>
<body>

	<section id="header">
		   <a href="{%url 'home'%}"> <img src="/media/logo.png" class="logo"></a>
		<div>
			<ul id="navbar">
				<li><a href="{%url 'home'%}">Home</a></li>
				<li><a class="{{H_active}}" href="{%url 'hosts'%}">Hosts</a></li>
				<li><a class="{{A_active}}" href="{%url 'hostform'%}">BE ORGANISER</a></li>
				<a href="" id="close"><i class="fa-solid fa-xmark"></i></a>
			</ul>
		</div>
		<div id="mobile">
			<i id="bar" class="fas fa-outdent"></i>
		</div>
	</section>

<div class="orgainser-body">

	{% if messages %}
      {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
			   {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
      {% endfor %}
    {% endif %}

	{% block content %}{% endblock content %}
</div>
	
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <script>
		const close =document.getElementById("close");
		const bar = document.getElementById("bar");
		const nav = document.getElementById("navbar");
		if (bar){
			bar.addEventListener("click",()=>{
				nav.classList.add("active");
			});
		};

		if (close){
			close.addEventListener("click",()=>{
				nav.classList.remove("active");
			});
		};
	</script>

</body>
</html>