{%extends 'app/base.html'%}
{%block content%}

<section class="design-2">
	<div class="design2-top-section">
		<div class="row" style="width: 100%;">
			<div class="col-lg-3 col-md-6">
				<div>
					<div class="design2-like-button-div">
						<form action="" method="POST">
					      {% csrf_token %}
					          <button name="event_id" type="submit" class="design2-like-button" value="">
				            	<i class="fa-regular fa-heart" style="color: white; font-size: 1.5rem;"></i>
				         	  </button>
					    </form>
					</div>
					<img class="list-img" width="100%" height="300px" src="https://a0.muscache.com/im/pictures/841cc982-6831-4ea3-8578-5581f6daf062.jpg?im_w=720">
				</div>	
				<div class="design2-img-detail">
					<div class="img-detail-heading-star">
						<p class="design2-heading design2-event-img-heading">Wedding</p>
						<p class="text-muted design2-heading likedetail" style="font-size: .8rem;">
							5 likes
						</p>
					</div>
					<div class="img-detail-heading-star">
						<p class="text-muted design2-heading design2-location-img-heading">Siliguri</p>
						<p class="design2-heading design2-para-heading likedetail">
							<span><i class="fa-solid fa-star"></i></span> 
							3.5
						</p>
					</div>
					<p class="text-muted detail-date">3 Jan, 2023</p>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button">I'm Interested</button>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button design2-bottom-list-button-detail">View Details >></button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div>
					<div class="design2-like-button-div">
						<button name="event_id" type="submit" class="design2-like-button" value="">
				            <i class="fa-regular fa-heart" style="color: white; font-size: 1.5rem;"></i>
				         </button>
					</div>
					<img class="list-img" width="100%" height="300px" src="https://a0.muscache.com/im/pictures/c451144f-b581-4a78-a150-c89da33f8626.jpg?im_w=720">
				</div>
				<div class="design2-img-detail">
					<div class="img-detail-heading-star">
						<p class="design2-heading design2-event-img-heading">Wedding</p>
						<p class="text-muted design2-heading likedetail" style="font-size: .8rem;">
							5 likes
						</p>
					</div>
					<div class="img-detail-heading-star">
						<p class="text-muted design2-heading design2-location-img-heading">Siliguri</p>
						<p class="design2-heading likedetail">
							<span><i class="fa-solid fa-star"></i></span> 
							3.5
						</p>
					</div>
					<p class="text-muted detail-date">3 Jan, 2023</p>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button">I'm Interested</button>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button design2-bottom-list-button-detail">View Details >></button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div>
					<div class="design2-like-button-div">
						<button name="event_id" type="submit" class="design2-like-button" value="">
				            <i class="fa-regular fa-heart" style="color: white; font-size: 1.5rem;"></i>
				         </button>
					</div>
					<img class="list-img"  width="100%" height="300px" src="https://a0.muscache.com/im/pictures/b329e6cf-632b-48e9-a8ce-b6b02b42b987.jpg?im_w=720">
				</div>
				<div class="design2-img-detail">
					<div class="img-detail-heading-star">
						<p class="design2-heading design2-event-img-heading">Wedding</p>
						<p class="text-muted design2-heading likedetail" style="font-size: .8rem;">
							5 likes
						</p>
					</div>
					<div class="img-detail-heading-star">
						<p class="text-muted design2-heading design2-location-img-heading">Siliguri</p>
						<p class="design2-heading likedetail">
							<span><i class="fa-solid fa-star"></i></span> 
							3.5
						</p>
					</div>
					<p class="text-muted detail-date">3 Jan, 2023</p>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button">I'm Interested</button>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button design2-bottom-list-button-detail">View Details >></button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div>
					<div class="design2-like-button-div">
						<button name="event_id" type="submit" class="design2-like-button" value="">
				            <i class="fa-regular fa-heart" style="color: white; font-size: 1.5rem;"></i>
				         </button>
					</div>
					<img class="list-img"  width="100%" height="300px" src="https://a0.muscache.com/im/pictures/miso/Hosting-26117817/original/9da40e3c-5846-4359-bb41-05c27b09a8f5.jpeg?im_w=720">
				</div>
				<div class="design2-img-detail">
					<div class="img-detail-heading-star">
						<p class="design2-heading design2-event-img-heading">Wedding</p>
						<p class="text-muted design2-heading likedetail" style="font-size: .8rem;">
							5 likes
						</p>
					</div>
					<div class="img-detail-heading-star">
						<p class="text-muted design2-heading design2-location-img-heading">New Jalpaiguri station</p>
						<p class="design2-heading likedetail">
							<span><i class="fa-solid fa-star"></i></span> 
							3.5
						</p>
					</div>
					<p class="text-muted detail-date">3 Jan, 2023</p>
				</div>

				<div class="design2-button-div">
					<button class="design2-bottom-list-button">I'm Interested</button>
				</div>
				<div class="design2-button-div">
					<button class="design2-bottom-list-button design2-bottom-list-button-detail">View Details >></button>
				</div>
				
			</div>
		</div>
	</div>
</section>

{%endblock content%}