{%extends 'app/base.html'%}
{%block content%}
<section class="design-section">
<div class="design-upper">
	<h1 class="design-title">
		Make each event to be remembered with us
	</h1>
	<h5 class="design-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h5>
	<div class="design-btn-info">
		<button class="design-btn" action="workingmodel">Discover More</button>
	</div>
</div>

<div class="design-middle" name="workingmodel">
	<div class="design-middle-info">
		<h1 class="design-middle-title">Our Working model</h1>
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<hr>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-lg-4 col-sm-12">
				<hr>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			
			<div class="col-lg-4 col-sm-12">
				<hr>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>

<div class="design-bottom">
	<div class="bottom-design-info">
		<h1 class="design-bottom-title bottom-text">Our recently organized Events</h1>
		<div class="row">
			<div class="col-lg-8 design-bottom-first-row">
				<p class="design-bottom-info bottom-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-lg-4 design-bottom-first-row design-button-bottom">
				<a href="{%url 'home'%}" class="design-btn bnm" style="text-decoration: none; bnm:hover: color:grey;">Learn More &raquo;</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 bottom-img">
				<img class="detail-bottom-img" src="http://127.0.0.1:8000/media/eventpic/marriage2.jpeg" alt="Girl in a jacket" width="100%" height="300">
				<hr>
				<div class="image-text">
					<h4>Title</h4>

				</div>
			</div>
			<div class="col-lg-4 bottom-img">
				<img class="detail-bottom-img" src="http://127.0.0.1:8000/media/eventpic/marriage3.jpeg" alt="Girl in a jacket" width="100%" height="300">
				<hr>
				<div class="image-text">
					<h4>Title</h4>
				</div>
			</div>				
			<div class="col-lg-4 bottom-img">
				<img class="detail-bottom-img" src="http://127.0.0.1:8000/media/eventpic/marriage1.jpeg" alt="Girl in a jacket" width="100%" height="300">
				<hr>
				<div class="image-text">
					<h4>Title</h4>
				</div>
			</div>					
		</div>

	</div>
</div>

<div class="ourMission">
	<h5 class="text-muted" style="margin-bottom: 2rem;">OUR MISSION</h5>
	<div class="row" style="width:99%;">
		<div class="col-lg-6">
			<h1 class="missionTitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			</h1>
		</div>
		<div class="col-lg-6">
			<p class="missionText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor.</p>
		</div>
	</div>
</div>

</section>

{%endblock content%}