{%extends 'app/base.html'%}
{%block content%}

<section class="design-2">
	<div class="design2-top-section">
		<div class="row" style="width: 100%;">
			{%for event in page_obj%}
				<div class="col-lg-3 col-md-6">
					<div>
						<div class="design2-like-button-div">
							<form action="{% url 'like' %}" method="POST">
						      {% csrf_token %}
						      {% if request.user.name in event.likers %}
						          <button name="event_id" type="submit" class="design2-like-button" value="{{event.id}}">
					            	<i class="fa-solid fa-heart" style="color: red; font-size: 1.5rem;"></i>
					         	  </button>
				         	  {%else%}
				         	  	  <button name="event_id" type="submit" class="design2-like-button" value="{{event.id}}">
					            	<i class="fa-regular fa-heart" style="color: red; font-size: 1.5rem;"></i>
					         	  </button>
				         	  {%endif%}
						    </form>
						</div>
						<img class="list-img" width="100%" height="300px" src="{{event.image}}">
					</div>	
					<div class="design2-img-detail">
						<div class="img-detail-heading-star">
							<p class="design2-heading design2-event-img-heading">{{event.name}}</p>
							<p class="text-muted design2-heading likedetail" style="font-size: .8rem;">
								{{event.likers_count}} Likes
							</p>
						</div>
						<div class="img-detail-heading-star">
							<p class="text-muted design2-heading design2-location-img-heading">{{event.location}}</p>
							<p class="design2-heading design2-para-heading likedetail">
								<span><i class="fa-solid fa-star"></i></span> {{event.avgrating}}
								
							</p>
						</div>
						<p class="text-muted detail-date">{{event.evedate}}</p>
					</div>
                    <!-- END OF EVENT INTEREST BUTTON -->
			<div class="interest-row">
				<form action="{% url 'interest'%}" class="interest" method="POST">
			      {% csrf_token %}
			      	{%if request.user.id in event.interested %}
<!-- 				      	<small class="text-muted" style="font-size: .7rem;">thank you for checking in</small> -->
				      	<button name="interest_id" type="submit" value="{{event.slug}}" class="list-check-mark-no">
				          <i class="fa-solid fa-check-double check-yes" id="check-btn" style="color: blue;"></i>
				        </button>
			        {%else%}
<!-- 			       	    <small class="text-muted" style="font-size: .7rem;">check in</small>  -->
			        	<button name="interest_id" type="submit" value="{{event.slug}}" class="list-check-mark-yes">
				          <i class="fa-solid fa-check-double" id="check-btn" style="color: black;"></i>
				        </button>    
			        {%endif%}
			    </form>	

					<a href="" class="comment-icon"><i class="fa-regular fa-comment"></i></a>
			</div>


                    <!-- DETAIL BUTTON -->
					<a class="btn" id="link-detail-btn" href="{%url 'detail' event.slug%}">View details &raquo;</a>
					<!-- END OF DETAIL BUTTON -->
					<hr class="end-list-hr">
				</div>
			{%endfor%}

			<div>
				<div class="pagination-div">
					{%if page_obj.has_previous%}
						<a class="btn" id="pagin-btn-p" href="?page={{page_obj.previous_page_number}}">Previous</a>
					{%endif%}

					<span class="current">
		                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		            </span>

					{%if page_obj.has_next%}
						<a class="btn" id="pagin-btn-n" href="?page={{page_obj.next_page_number}}">Next</a>
					{%endif%}
				</div>
			</div>
			
		</div>
	</div>
</section>

{%endblock content%}