{%extends 'app/base.html'%}
{%block content%}
<section class="design3">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="design3-top-section">
				<h1>{{event.function_name}}</h1>
				<p class="text-muted">On {{event.evedate}}</p>
				<div class="design3-top">
					<p class="design-detail-top"><span><i class="fa-solid fa-star"></i></span> {{event.avgrating}}</p>
					<p class="design-detail-top">
						{{event.no_of_interested}} interested
					</p>

					<p class="design-detail-top">
						<span>
							<i style="color: red;" class="fa-solid fa-heart"></i>
						</span> {{event.likers_count}}
					</p>
					<p class="design-detail-top">
						<span style="margin-left:3px; margin-right: 4px; color: #C58940;"><i class="fa-solid fa-location-dot"></i></span>{{event.location}}
					</p>
				</div>
				<br>	
			</div>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-12">
			{% if rated == "false" %}
				<h5 class="rate-title">Rate</h5>
				<div class="rating-sec">	
					<div class="stars">
					  <form action="{%url 'rating'%}" method="POST">
					  	{%csrf_token%}
					  	<div>
						  	<input class="star star-5" id="star-5" value="5" type="radio" name="star"/>
						    <label class="star star-5" for="star-5"></label>
						    <input class="star star-4" id="star-4" value="4" type="radio" name="star"/>
						    <label class="star star-4" for="star-4"></label>
						    <input class="star star-3" id="star-3" value="3" type="radio" name="star"/>
						    <label class="star star-3" for="star-3"></label>
						    <input class="star star-2" id="star-2" value="2" type="radio" name="star"/>
						    <label class="star star-2" for="star-2"></label>
						    <input class="star star-1" id="star-1" value="1" type="radio" name="star"/>
						    <label class="star star-1" for="star-1"></label>
					  	</div>
				        <button name="item_id" type="submit" value="{{event.slug}}" class="ratebutton">
							ok
						</button>
					  </form>
					</div>
				</div>
			{%endif%}
		</div>		
	</div>
		<div class="image-section">
			<img class="image-section-top-img" src="{{event.image}}" width="100%" height="100%">
			<div class="image-section-bottom-img">
				<div class="img1-div">
					<img  class="detail-image-top-content img1" src="{{event.image2}}" width= '100%' height="100%">
					<img  class="detail-image-top-content img2" src="{{event.image3}}" width= '100%' height="100%">
				</div>
				<div class="img2-div">
					<img class="detail-image-bottom-content img3" src="{{event.image4}}" width= '100%' height="100%">
					<img  class="detail-image-bottom-content img4" src="{{event.image5}}" width= '100%' height="100%">
				</div>
				
			</div>
		</div>
	
	<div class="description-section">
		<h5>Description: </h5>
		<p class="text-muted">{{event.description}}</p>
		<hr>
	</div>
	<form method="POST" action="{%url 'comments'%}" style="margin-top: 4rem;">
	  {%csrf_token%}
	  <div class="mb-3" style="margin-top: 1rem; display: flex;">
	    <textarea class="form-control" name="comment" rows="1" style="width: 50%;" placeholder="Comment here.."></textarea>
	    <button type="submit" name="event_id" id="comment-btn" value="{{event.slug}}" style="margin-left: 2rem;">comment</button>
	  </div>
	</form>
	<div class="comment-section">
		<h5 class="text-muted" style="margin: 5% 0% 3% 0%;"> Comments: </h5>
		<hr>
		{%for comment in comments%}
			<div class="comment-div">
				<div class="comment-div-top">
					<img class="comment-img" src="{{event.image2}}" width="30px" height="30px">
				<div class="comment-div-bottom">
					<p class="comment-item comment-user">{{comment.user}}</p>

					<small class="comment-item text-muted">{{comment.comment}}</small>
				</div>	

				</div>
			</div>
			<small>{{comment.date_commented}}</small>
		{%endfor%}
	</div>
	

</section>




{%endblock content%}