{%extends 'app/base.html'%}
{%block content%}
<div class="content-section container" style="width: 30rem; margin-top: 7rem; line-height: 4rem;">
    <form method="POST" action="{%url 'register' %}">
        {% csrf_token %}
             <legend class="border-bottom mb-4">Register</legend>

              <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" name="username">
                </div>
              </div>

              <div class="mb-3 row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="email">
                </div>
              </div>

              <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" name="password">
                </div>
              </div>

              <div class="mb-3 row">
                <label for="password2" class="col-sm-2 col-form-label">Password Confirm</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password2" name="password2">
                </div>
              </div>

        <div class="form-group mt-3 mb-4">
            <button class="btn btn-primary authform" type="submit">Register</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="">Sign Up</a>
        </small>
    </div>
</div>
{%endblock content%}