
@import "about.css";
@import "article.css";
@import "eventdetail.css";
@import "homepage.css";


/*     Navbar styling     */
#homeLink{
  font-size: 1.3rem;
  color: white;
  font-family: 'Bebas Neue', cursive;
}
#homeLink:hover{
  text-decoration: underline;
  color: purple;
  font-weight: bolder;
  font-size: 1.8rem;
  
}

#homenav{
  margin-left: 25%;
  width: 100%;
}

nav{
  background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
}

  

#brnd{
  padding: 1% 1% 1% 8%;
  color: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
}



.nav-item-profile{
  display: flex;
  margin-left: 5%;
  padding-top: .5%;
}

.nav-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 3rem;
  color: white;
}

#profile{
  
  margin: 0px;
  color: white;
  padding-top: 3px;
  font-size: 1.3rem;
  font-family: 'Bebas Neue', cursive;
}

#profile:hover{
  text-decoration: underline;
  color: purple;
  font-weight: bolder;
  font-size: 1.8rem;
}






/* REGISTER LOGOUT PAGE */

.authform2{
  background: #82AAE3;
  margin: 5% 1% 1% 1%;
  width: 19%;
  border: none;
  padding: 0%;
}