
/*     Navbar styling     */
#homeLink{
  font-size: 1.1rem;
  color: white;
}
#homeLink:hover{
  text-decoration: underline;
  color: skyblue;
}

#homenav{
  margin-left: 25%;
  width: 100%;
}

#basenav{
  background: #0A2647;
}

#brnd{
  font-size: 2rem;
  color: white;
  padding: 1% 1% 1% 8%;
}



.nav-item-profile{
  display: flex;
  margin-left: 5%;
  padding-top: .5%;
}

.nav-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 3rem;
  color: white;
}

#profile{
  margin: 0px;
  color: white;
  padding-top: 3px;
}


/*      Detail page styling     */
div.stars {
  width: 270px; 
  display: inline-block;
  text-align: center;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}


/*NAV BAR DESIGN*/



/*END OF NAV BAR DESIGN*/


/*ABOUT PAGE*/

.about-text{
  width: 50%;
  text-align: justify;
} 

.about-text-top{
  float: right;
  margin: 3%;
}
.about-top{
  margin: 2rem;
}

.about-img-top{
  margin-left: 5%;
}

.about-text-middle{
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

.about-img-middle{
  margin-left: 9%;
}

.about-middle{
  margin: 2rem;
}
.aboutline{
  width: 90%;
  margin: auto;
}

.aboutinfo{
  text-align: center;
}

.aboutinfo-img{
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

#aboutrow{
  padding: 1rem;
  width: 90%;
  margin: auto;
}

/* END OF ABOUT PAGE DESIGN */






/* DESIGN for new pages */


.design-upper{
  width: 100%;
  background-color: black;
}

.design-title{
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 13%;
  font-size: 4rem;
  background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Exo 2', sans-serif;

}

.design-quote{
  text-align: center;
  padding-top: 10%;
  margin: auto;
  width: 70%;
  color: white;
}

.design-btn-info{
  margin-top: 1%;
  text-align: center;
}



/*DESIGN MIDDLE*/


.design-middle{
  width: 100%;
  background-color: white;
}

.design-middle-info{
  margin: 5rem;
  padding: 3rem;
}

.design-middle-title{
  margin-bottom: 3rem;
}





/*DESIGN BOTTOM*/

.bottom-text{
  color: white;
}

.design-bottom-title{
 padding-top: 4rem;
}

.design-bottom{
  width: 100%;
  height: 100%;
  background-color: black;
}

.bottom-design-info{
  margin: 3rem 5rem 2rem 5rem;
}

.design-btn{
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, green, lightgreen);
  border-image-slice: 1;
  padding: .5rem;
  margin-bottom: 3rem;
  margin-left: 4rem;
}


.bottom-img{
  padding: 2%;
}
       
.detail-bottom-img{
  margin: 2%;
}    

.image-text{
  text-align: center;
  color: white;
}


/*Mission Section*/

.ourMission{
  padding: 2rem 5rem 5rem 5rem;
}
.missionTitle{
  font-size: 3.5rem;
  background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.missionText{
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.working-model-quotes{
  text-align: justify;
}


/*DESIGN LAST CONTENT*/

.design-last{
  background: #0A2647;;
  padding: 5rem;
}

.design-last-link{
  margin: 2rem;
}
.design-bottom-line{
  height: .5rem;
  background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);
}



/*  END OF DESIGN 1 */









/*Home Page Design*/


.list-img{
  border-radius: 1rem;
}

.design2-top-section{
  padding: 5rem;
}
.design2-img-detail{
  position: relative;
  padding-top: 1rem;
}
.img-detail-heading-star{
  display: flex;
}
.design2-heading{
  width: fit-content;
  margin: 0px;
}

.design2-like-button-div{
  position: relative;
}

.design2-like-button{
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.design2-event-img-heading{
  font-size: .9rem;
}
.design2-location-img-heading{
  font-size: .7rem;
}

.likedetail{
  position: absolute;
  right: 1.5rem;
  font-size: .9rem;
}

.detail-date{
  font-size: .8rem;
}

.design2-bottom-list-button{
  width: 90%;
  border-color: white;
  background: gold;
  border: 0px;
  border-radius: 2px;
  margin-left: 5%;
}

.design2-bottom-list-button-detail{
  margin-top: 1rem;
  background: blue;
  color: white;
}


.end-list-hr{
  margin: 5px;
}

.like-interest-div{
  position: relative;
  display: flex;
}

.like-count{
  font-size: 70%;
  margin: .3rem 0rem .2rem 0rem;
}

.interest-count{
  position: absolute;
  right: 3%;
  font-size: 70%;
  margin: .3rem 0rem .2rem 0rem;
}



.list-check-mark-no{
  border: 0;
  background-color: transparent;
}

.list-check-mark-yes{
  border: 0;
  background-color: transparent;
}

#check-btn{
  font-size: 1.4rem;
}

#link-detail-btn{
  width: 90%;
  margin-left: 5%;
  padding: 0;
  border-radius: 2px;
  margin-top: 4%;
  color: grey;
}

.pagination-div{
  width: fit-content;
  margin: auto;
}

#pagin-btn-n{
  background: darkgoldenrod;
  border-radius: 3px;
  color: aliceblue;
}

#pagin-btn-p{
    background: burlywood;
    border-radius: 3px;
    color: beige;
}

.interest{
  width: fit-content;
}

.interest-row{
  display: flex;
  position: relative;
  padding: 2% 0% 5%;
}
.comment-icon{
  position: absolute;
  right: 13%;
  font-size: 1.3rem;
}


/*END OF HOME PAGE DESIGN */







/* DETAIL PAGE DESIGN  */
.design3{
  padding: 2% 5% 2% 8%;
}
.design3-top{
  display: flex;
}
.design-detail-top{
  width: fit-content;
  margin: 0% 2% 0% 0%;
}

.description-section{
  margin-top: 3%;
}

/*Image section*/


.image-section{
  display: flex;
}

.img1-div{
  display: flex;
  width: 50%;
}

.img2-div{
  display: flex;
  width: 50%;
}

.image-section-top-img{
  padding: .5% 1% 0% 0%;
}
.image-section-bottom-img{
  margin-top: .3%;
}

.detail-image-top-content{
  padding: 0.5% 0.5% 0% 0.5%;
}
.detail-image-bottom-content{
 padding: 0.5% 0.5% 1% 0.5%;
}

.img2{
  border-top-right-radius: 1rem;
}
.img4{
  border-bottom-right-radius: 1rem;
}

.image-section-top-img{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.design3-top-section{
  margin-bottom: 2rem;
}

.rating-section{
  padding: 6%;
}

.rate-title{
  margin-left: 15%;
} 

.ratebutton{
  background: #D3756B;
  width: 60%;
  padding: 2%;
  border:1px #A75D5D;
  border-radius: 2px;
  border-color: #A75D5D;
}


.ratebutton:hover{
  background: #FFC3A1;
}

#comment-btn{
  border: none;
  margin-top: 2%;
  background: aqua;
  border-radius: 3px;
  padding: 7px;
}

.comment-section{
  width: 55%;
}

.comment-div{
  padding:0% 9% 0% 0%;
}

.comment-div-top{
  display: flex;
  margin-bottom: 2%;
}

.comment-img{
  border-radius: 50%;
  margin-top: 2%;
}
.comment-div-bottom{
  background: aliceblue;
  margin-left: 1rem;
  border-radius: 10%;
  padding: 1% 2%;
  width: 100%;
}

.comment-item{
  width: fit-content;
  margin: 0px;
}


/*  END OF DETAIL PAGE DESIGN */



/*PROFILE DESIGN*/

.profile-img-change{

}

.profile-top-info{
  background-color: #F1F6F5;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 3% 12% 6% 12%;
}

.profile-img{
  border-radius: 50%;
}
.profile-design{
  padding: 0% 12% 0% 12%;
  margin-top: 3%;
}

.profile-div{
  display: flex;
  margin-left: 2%;
}

.profile-div-info{
  width: fit-content;
  padding: 0% 5% 0% 5%;
}
.profile-div-img{
  width: fit-content;
  position: relative;
}

#profile-input{
  position: absolute;
  bottom: 17%;
  left: 7%;
}
#profile-img-change{
  width: 75%;
  margin-left: 5%;
}
.profile-img-btn{
  margin-top: 7%;
  margin-left: 24%;
  font-size: .8rem;
  border: .5px solid;
  color: brown;
}

.profilebuttons{
  display: flex;
  margin-top: 5%;
}

.profile-group-btn{
  margin-left: 24%;
      width: 100%;
}

#profile-info-buttons{
  border: none;
  background: #6B728E;
  padding: 2%;
  color: white;
  margin-top: 1%;
}

.updateProfile{
  width: fit-content;
  margin: auto;
}

.profile-form{
  margin-bottom: 5%;
  margin-top: 5%;
  background: #D6E4E5;
  padding: 5% 15%;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.profile-update-btn{
  border: none;
  background: #0D4C92;
  padding: 1% 7%;
  font-size: 1rem;
  margin-top: 2%;
  color: white;
  border-radius: 2px;
}

/*  END OF PROFILE PAGE DESIGN   */




/* REGISTER LOGOUT PAGE */

.authform2{
  background: #82AAE3;
  margin: 5% 1% 1% 1%;
  width: 19%;
  border: none;
  padding: 0%;



}